{{#unless currentUser}}
<div class="notice-banner">
    <div class="notice-banner__inner">
        <a class="notice-banner__link" href="/login">
           <div class="notice-banner__title">
            Join the Channelwill Community
           </div>
           <div class="notice-banner__description">
            Connect with like-minded professionals, gain valuable insights, and grow together.
           </div>
           <div class="notice-banner__button">
            Join Now
           </div>
        </a>
    </div>
</div>
{{/unless}}