<footer class="footer">
    <div class="footer-top">
      <div class="footer-col-logo">
        <div class="footer-logo">
          <a href="/">
            <img src="https://canada1.discourse-cdn.com/flex003/uploads/cw_test/original/1X/147768410b3715d6f3d4d94683ae2987cefb5786.webp" alt="channelwill-logo" />
          </a>
        </div>
        <div class="footer-description">Channelwill helps Shopify merchants scale sustainably.</div>
        <div class="footer-socials">
          <a href="https://www.linkedin.com/company/channelwill/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M22.2234 0.390625H1.77187C0.792187 0.390625 0 1.16406 0 2.12031V22.6562C0 23.6125 0.792187 24.3906 1.77187 24.3906H22.2234C23.2031 24.3906 24 23.6125 24 22.6609V2.12031C24 1.16406 23.2031 0.390625 22.2234 0.390625ZM7.12031 20.8422H3.55781V9.38594H7.12031V20.8422ZM5.33906 7.825C4.19531 7.825 3.27188 6.90156 3.27188 5.7625C3.27188 4.62344 4.19531 3.7 5.33906 3.7C6.47813 3.7 7.40156 4.62344 7.40156 5.7625C7.40156 6.89687 6.47813 7.825 5.33906 7.825ZM20.4516 20.8422H16.8937V15.2734C16.8937 13.9469 16.8703 12.2359 15.0422 12.2359C13.1906 12.2359 12.9094 13.6844 12.9094 15.1797V20.8422H9.35625V9.38594H12.7687V10.9516H12.8156C13.2891 10.0516 14.4516 9.1 16.1813 9.1C19.7859 9.1 20.4516 11.4719 20.4516 14.5563V20.8422Z" fill="#85888E"/>
        </svg></a>
                <a href="https://www.youtube.com/@channelwillofficial" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" fill="none">
        <path d="M23.7609 4.59043C23.7609 4.59043 23.5266 2.93574 22.8047 2.20918C21.8906 1.25293 20.8688 1.24824 20.4 1.19199C17.0438 0.948242 12.0047 0.948242 12.0047 0.948242H11.9953C11.9953 0.948242 6.95625 0.948242 3.6 1.19199C3.13125 1.24824 2.10938 1.25293 1.19531 2.20918C0.473438 2.93574 0.24375 4.59043 0.24375 4.59043C0.24375 4.59043 0 6.53574 0 8.47637V10.2951C0 12.2357 0.239062 14.1811 0.239062 14.1811C0.239062 14.1811 0.473437 15.8357 1.19062 16.5623C2.10469 17.5186 3.30469 17.4857 3.83906 17.5889C5.76094 17.7717 12 17.8279 12 17.8279C12 17.8279 17.0438 17.8186 20.4 17.5795C20.8688 17.5232 21.8906 17.5186 22.8047 16.5623C23.5266 15.8357 23.7609 14.1811 23.7609 14.1811C23.7609 14.1811 24 12.2404 24 10.2951V8.47637C24 6.53574 23.7609 4.59043 23.7609 4.59043ZM9.52031 12.5029V5.75762L16.0031 9.14199L9.52031 12.5029Z" fill="#85888E"/>
        </svg></a>
        </div>
      </div>

    <div class="footer-links-container">
      <div class="footer-col footer-links">
        <h4>Products</h4>
        <a href="https://www.channelwill.com/parcelpanel/" target="_blank" rel="noopener noreferrer">ParcelPanel</a>
        <a href="https://www.channelwill.com/trustoo-io/" target="_blank" rel="noopener noreferrer">Trustoo</a>
        <a href="https://www.channelwill.com/loloyal/" target="_blank" rel="noopener noreferrer">Loloyal</a>
        <a href="https://www.channelwill.com/seoant/" target="_blank" rel="noopener noreferrer">SEOAnt</a>
      </div>

      <div class="footer-col footer-links">
        <h4>Resources</h4>
        <a href="https://www.channelwill.com/blog/" target="_blank" rel="noopener noreferrer">Blog</a>
        <a href="https://www.channelwill.com/case-studies/" target="_blank" rel="noopener noreferrer">Case Studies</a>
        <a href="https://www.channelwill.com/best-apps-for-shopify/" target="_blank" rel="noopener noreferrer">Shopify Apps</a>
      </div>

      <div class="footer-col footer-links">
        <h4>Compare</h4>
        <a href="https://www.channelwill.com/yotpo-alternatives/" target="_blank" rel="noopener noreferrer">Yotpo</a>
        <a href="https://www.channelwill.com/klaviyo-competitors/" target="_blank" rel="noopener noreferrer">Klaviyo</a>
        <a href="https://www.channelwill.com/aftership-competitor/" target="_blank" rel="noopener noreferrer">Aftership</a>
        <a href="https://www.channelwill.com/gorgias-competitors/" target="_blank" rel="noopener noreferrer">Gorgias</a>
      </div>

      <div class="footer-col footer-links">
        <h4>Company</h4>
        <a href="https://www.channelwill.com/about-us/" target="_blank" rel="noopener noreferrer">About Us</a>
        <a href="https://www.channelwill.com/careers/" target="_blank" rel="noopener noreferrer">Careers</a>
        <a href="https://www.channelwill.com/affiliate/" target="_blank" rel="noopener noreferrer">Be a Partner</a>
        <a href="https://www.channelwill.com/agency-partner/" target="_blank" rel="noopener noreferrer">Agency Partners</a>
      </div>

      <div class="footer-col footer-links">
        <h4>Support</h4>
        <a href="https://www.channelwill.com/contact-sales/" target="_blank" rel="noopener noreferrer">Request a Demo</a>
        <a href="https://www.channelwill.com/contact/" target="_blank" rel="noopener noreferrer">Contact</a>
        <a href="https://www.channelwill.com/shopify-plus-experts/" target="_blank" rel="noopener noreferrer">Shopify Plus Experts</a>
        <a href="https://support.channelwill.com/" target="_blank" rel="noopener noreferrer">Help Center</a>
      </div>
    </div>
    </div>

    <div class="footer-bottom">
      <div>© 2018-<span id="custom-year"></span> Channelwill. All rights reserved.</div>
      <div>
        <a href="https://www.channelwill.com/term-of-use-channelwill/" target="_blank" rel="noopener noreferrer">Terms of Use</a>
        <a href="https://www.channelwill.com/privacy-policy-channelwill/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
      </div>
    </div>
  </footer>